html,
body {
    width: 100%;
    height: 100%;
    font-family: "Roboto", sans-serif;
}

html {
    background-image: url("img/bg1.webp");
    /*background-color: rgb(255,255,255);*/
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

body {
    position: relative;
}

*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-align: center;
}

.header {
    width: 90%;
    height: min-content;
    margin-top: 1em;
    margin-bottom: 0em;
}

.header h2 {
    color: rgb(0, 0, 0);
}

.body_wrapper {
    position: relative;
    z-index: 0;
    display: flex;
    flex-flow: column;
    width: 100%;
    height: 100%;
    padding: 0 20%;
    justify-content: space-between;
    align-items: center;
    gap: 3em;
}

.wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 5em;
    gap: 1em;
}

.game_buttons {
    background-color: rgba(155, 46, 165, 0%);
    display: flex;
    flex: 0 0 auto;
    width: 7em;
    height: 7em;
    border: 0.2em solid rgba(155, 46, 165, 0%);
    border-radius: 1.5em;
    
}
.game_buttons:active{
  transform: translateY(0.5em);
}

.img_button {
    border: 0 solid rgba(155, 46, 165, 0%);
    border-radius: 1.5em;
    box-shadow: 0em 0em 1.5em 1em rgb(0, 0, 0);
}

.img_button:hover {
    border: 0 solid rgba(155, 46, 165, 0%);
    border-radius: 1.5em;
    box-shadow: 0em 0em 1.5em 2em rgba(12, 12, 12, 0.836);
    cursor: pointer;
}

.img_button:active {
    border: 0 solid rgba(155, 46, 165, 0%);
    border-radius: 1.5em;
    box-shadow: 0em 0em 1.5em 1.5em rgb(0, 0, 0), 0em 0em 1em 2em rgb(127, 202, 221);
}

.but {
    background-color: rgba(155, 46, 165, 0%);
    width: 100%;
    height: 100%;
    border: 0 solid rgba(155, 46, 165, 0);
    border-radius: 1.5em;
}

.mid {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 70%;
    height: 5em;
    margin: 0em auto;
    gap: 2em;
}

.users {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;
    margin: 0 auto;
    width: 7em;
    height: 7em;
    border-radius: 2em;
}

.users img {
    border-radius: 2em;
}

.users.vs {
    margin-top: 2em;
    width: 3em;
    height: 3em;
}

.score {
    border: 0.2em solid rgba(0, 0, 0, 0);
    border-radius: 2em;
    box-shadow: 0 0 1em 1em rgba(0, 0, 0, 0.4); 
    width: 5em;
    height: 5em;
    margin: 0 auto;
}

.parent {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-self: center;
    gap: 1em;
    width: 100%;
    height: 100%;
}

.score img {
    border-radius: 1.5em;
    
}

.footer {
    display: flex;
    top: 100%;
    justify-content: center;
    width: 100%;
    background-color: rgba(176, 231, 215, 0);
    padding: 2em;
}

.footer p {
    color: rgb(0,0,0);
    text-shadow: 0px 0px 0.5em rgb(255, 150, 0);
    font-weight: 700;
}

.exercise {
    color: rgb(0, 0, 0);
    text-shadow: 0 0 0.5em rgb(17, 101, 255);
}

.endscreen {
    display: block;
    background-color: rgb(0, 0, 0);
    position: absolute;
    width: 0%;
    height: 100%;
    top: 0;
    z-index: 2;
    animation: end 3s linear 2s 1 forwards;
}
.left{
  left: 0%;
}
.right{
  right: 0%;
}

.finalscore {
    position: absolute;
    display: block; 
    background-color: rgba(0, 0, 0,0);
    top: calc(50% - 2em);
    left: calc(50% - 4em);
    width: 8em;
    height: 4em;
    opacity: 0;
    border: 0 none rgba(0,0,0,0); 
    border-radius: 2em;
    z-index: -1;
    animation: score 1s linear 4.5s 1 normal forwards;
}
.finalscore:active {
  transform: translateY(0.5em);
}
.finalscoreimg{
  width:  100%;
  height: 100%;
  opacity: 0;
  border: 0 none rgba(0,0,0,0);
  border-radius: 2em;
  z-index: -1;
  animation: score 1s linear 5s 1 normal forwards;
}
.restartpos{
    background-color: rgb(0, 0, 0);
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    z-index: 2;
    animation: res 5s linear 0s 1 forwards;
  
}
.resbutimg{
  width:  100%;
  height: 100%;
  opacity: 1;
  border: 0 none rgba(0,0,0,0);
  border-radius: 2em;
  z-index: 3;
  animation: scoreres 1s linear 1s 1 normal forwards;
}

.resbut {
    position: absolute;
    display: block; 
    background-color: rgba(0, 0, 0,0);
    top: calc(50% - 2em);
    left: calc(50% - 4em);
    width: 8em;
    height: 4em;
    opacity: 1;
    border: 0 none rgba(0,0,0,0); 
    border-radius: 2em;
    z-index: 3;
    animation: scoreres 0.5s linear 1s 1 normal forwards;
}

@keyframes score {
    0% {
        z-index: -1;
        opacity: 0; 
      
    }
    100% {
        z-index: 3;
        opacity: 1; 
              
    }
}
@keyframes scoreres {
    0% {
        z-index: 3;
        opacity: 1;
      
    }
    100% {
        z-index: -1;
        opacity: 0;
              
    }
}


@keyframes end {
    0% {
        width: 0%;
    }
    100% {
        width: 50%;
    }
}

@keyframes res {
  0% {
    width: 50%;
  }

  100% {
    width: 0%; 
  }
}

.win {
  box-shadow: 0 0 1em 1em rgba(0, 0, 0, 0.4); 
  animation: win 1s linear 0s 1 normal;
}
@keyframes win {
  0% {
    box-shadow: 0 0 1em 1em rgba(0, 0, 0,0.4), 0 0 1em 0em rgba(0, 200, 0,0);
  }
  
  50% {box-shadow: 0 0 1em 0em rgba(0, 0, 0,0), 0 0 1em 1.5em rgba(0, 200, 0,0.4);
    
  }
  
  100% {
  box-shadow: 0 0 1em 1em rgba(0, 0, 0,0.4), 0 0 1em 0em rgba(0, 200, 0,0);
  }
}
.lose {
  box-shadow: 0 0 1em 1em rgba(0, 0, 0, 0.4); 
  animation: lose 1s linear 0s 1 normal;
}
@keyframes lose {
   0% {
    box-shadow: 0 0 1em 1em rgba(0, 0, 0,0.4), 0 0 1em 0em rgba(200, 0, 0,0);
  }
  
  50% {box-shadow: 0 0 1em 0em rgba(0, 0, 0,0), 0 0 1em 1.5em rgba(200, 0, 0,0.4);
    
  }
  
  100% {
  box-shadow: 0 0 1em 1em rgba(0, 0, 0,0.4), 0 0 1em 0em rgba(200, 0, 0,0);
  }
}

.draw{
  box-shadow: 0 0 1em 1em rgba(0, 0, 0, 0.4); 
  animation: draw 1s linear 0s 1 normal;
}
@keyframes draw {
   0% {
    box-shadow: 0 0 1em 1em rgba(0, 0, 0,0.4), 0 0 1em 0em rgba(0, 0, 0,0);
  }
  
  50% {box-shadow: 0 0 1em 1.5em rgba(50, 50, 50,0.8), 0 0 1em 1.5em rgba(50, 50, 50,0);
    
  }
  
  100% {
  box-shadow: 0 0 1em 1em rgba(0, 0, 0,0.4), 0 0 1em 0em rgba(0, 0, 0,0);
  }
}
